<%- include("header") -%>

    <section class="sec1">
      <h3><%= userName%> <br>it's your turn, you can come in.</h3>
      <br>
      <a href="/" class="subBtn">Home</a>
    </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/beep.js"></script>
  </body>
</html>
