<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Meta Declaration-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Queuelio</title>

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    crossorigin="anonymous" />

    <!-- Local Styling -->
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  </head>
  <body>
    <!--NavBar Section -->
    <div class="header">
      <h1 class="name">
        <a class="logo" href="/">Queuelio</a>
      </h1>
      <div class="nav-lin">
        <!-- Nav List-->
        <ul class="nav-ul">
          <li><a class="nobrd" href="/">Home</a></li>
          <% if(!isLogedIn){%>
            <li>
              <a class="brd" href="/auth">Login/Register</a>
            </li>
          <%}else{%>
            <li>
              <a class="nobrd" href="/queue">My Queues</a>
            </li>
          <%}%>
        </ul>
      </div>
      <!-- Top icon for mobile view-->
      <div class="icon">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
