<%- include("header") -%>

  <section class="sec1">
    <div class="row">


      <div class="col-lg-6 sec1Left">
        <h2>Now never wait in long queue for Hours, <span class="headMain">enter the virtual world of queue with
            Queuelio.</span></h2>
        <div class="ctaBtn">
          <a href="/queue/create" class="subBtn creBtn">Create a new Queue</a>
          <a href="/queue/join" class="subBtn">Join a Queue</a>
        </div>
      </div>


      <div class="col-lg-6 sec1Right">
        <br>
        <img src="/asset/icon.png" width="70%">
      </div>



    </div>
  </section>

  <!--Local Scripts-->
  <script type="text/javascript" src="/scripts/index.js"></script>
  </body>

  </html>