<%- include("header") -%>

  <section class="sec1">
    <h2>Join a Queue</h2>

    <form class="queueForm" action="/queue/join" method="post">
      <div class="form-group">
        <label for="queueCode">Queue Code:</label>
        <input type="text" class="form-control" name="queueCode" required>
      </div>
      <button type="submit" class="subBtn">Join</button>
    </form>

  </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
