
<%- include("header") -%>

    <section class="sec1">
      <h2>Login</h2>

      <form class="queueForm" action="/auth" method="post">
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" name="username" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <button type="submit" name="button" class="subBtn">Login</button>
      </form>

      <p>If you do not have an account already, <a href="/auth/register">Register</a></p>
    </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
