<%- include("header") -%>

    <section class="sec1">
      <h2> Queues <%= forWhat%> by you</h2>

      <div class="queues">
        <ul>
        <%for(let queue of queues){%>
          <li><a href="/queue/indi/<%= queue._id%>"><%= queue.title%></a></li>
        <%}%>
        </ul>
      </div>

      <% if(forWhat == "joined"){%>
        <a class="subBtn" href="/queue/created">Created Queues</a>
      <%}else{%>
        <a class="subBtn" href="/queue">Joined Queues</a>
      <%}%>
    </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
