.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 100%;
  min-height: 8vh;
  padding: 15px 4%;
  position: sticky;
  top: -4px;
  background: #fff;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.adminHead {
  justify-content: center;
}

.name a {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  color: #FF6B6B;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.name img {
  width: 60px;
}
.headImg, .adminHeadImg{
  margin-bottom: 5px;
}

.nav-lin {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding: 0;
}

.nav-lin a {
  text-decoration: none;
  color: #212121;
  margin: 5px;
  font-size: 16px;
  transition: 0.5s;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nobrd {
  border-bottom: 3px solid #fff;
  padding: 10px 20px;
}

.nav-lin a:hover {
  color: #FF6B6B;
  border-color: #FF6B6B;
  font-weight: bolder;
}

.brd {
  border: 1px solid #212121;
  padding: 10px 20px;
}

.brd:hover {
  border-color: #98979A;
}

.icon {
  display: none;
}

.icon div {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
  background-color: black;
}

@keyframes bubbles {
  from {
    transform: translate();
  }

  to {
    transform: translate(0, -66.666%);
  }
}

/* Responsive Code */
@media screen and (max-width: 991px) {
  .header {
    justify-content: space-between;
  }

  .adminHead {
    justify-content: center;
  }

  .cta-btn {
    display: none;
  }

  .nav-lin {
    position: absolute;
    z-index: 100;
    height: 90vh;
    width: 100vw;
    left: 0;
    top: 10vh;
    display: none;
    justify-content: center;
    align-items: flex-start;
    background-color: #FBFBFB;
    border: 1px rgb(152, 151, 151) solid;
    padding: 0 6%;
  }

  .nav-ul {
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 100;
  }

  .nav-lin a {
    font-size: 22px;
    padding: 0;
    opacity: 0.8;
  }

  .nav-lin li {
    opacity: 0;
  }

  .icon {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 490px) {
  .header {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .name a {
    font-size: 1.5rem;
  }
  .name img{
    width: 40px;
  }
  .adminHeadImg{
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 366px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/*Used to animate slider navbar*/
.icon-active {
  display: flex;
}

/*Used to animate small navbar links*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*Used to animate top icon*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 1px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -1px);
}
