body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #555;
}

.sec1 {
  padding: 15vh 4%;
  height: 80vh;
}
.secQue{
  padding: 5vh 4%;
}
.row {
  height: 100%;
}

.sec1Left, .sec1Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1Left h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.7;
  color: #6879A7;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10vh;
}

.headMain {
  color: #FF6B6B;
}

.subBtn {
  border: none;
  outline: none;
  background-color:#FF6B6B;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.subBtn:hover {
  color: #FF6B6B;
  background: inherit;
  text-decoration: none;
}

.otpBtn{
  border: 1px solid #777;
  outline: none;
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
  background: #FFF4CE;
  color: #555;
  margin: 15px 10px 20px;
}

.creBtn {
  background-color: #fff;
  color: #FF6B6B;
  margin-right: 20px;
}
.creBtn:hover{
  background-color: #FF6B6B;
  color: #fff;
}

/* Queue Styling */
.queueForm{
  margin: 8vh 0;
  width: 50%;
}

.queTitle{
  text-align: center;
  font-size: 3rem;
  background: #6879A7;
  color: #fff;
  font-weight: bolder;
  padding: 20px 0;
  border-radius: 50px 50px 0 0;
  margin-bottom: 0;
}
.belowTitle{
  text-align: center;
  background: #fff;
  padding: 8px 0;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin-bottom: 0;
}
.belowTitle span, .DetailsFAd .left span, .DetailsFAd .left ol{
  color: #6879A7;
  font-weight: bolder;
}

.DetailsFAd{
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  padding: 5vh 0;
}
.DetailsFAd div{
  flex: 1;
  text-align: center;
}
.DetailsFAd .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DetailsFAd .right img{
  width: 45%;
}
.commDiv{
  display: flex;
  justify-content: space-around;
  padding: 15px 15px 0;
  border-radius: 0 0 50px 50px;
  background: #6879A7;
  color: #fff;
  text-align: center;
}
.rmBtn{
  display: inline-block;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin-left: 20px;
}
.rmBtn i{
  pointer-events: none;
  color: #6879A7;
  font-size: 1.1rem;
}
.indiQFCon{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.indiQDBtn{
  margin-left: 10px;
}
.checkBtn{
  margin: 25px 0;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .queueForm{
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .sec1Left h2 {
    text-align: center;
    font-size: 1.9rem;
  }
  .ctaBtn{
    text-align: center;
  }
  .queTitle{
    font-size: 2rem;
  }
  .DetailsFAd{
    flex-direction: column-reverse;
  }
  .DetailsFAd .right img{
    width: 50%;
  }
  .commDiv{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 390px) {
  .sec1Left h2 {
    font-size: 1.5rem;
  }
  .ctaBtn a{
    font-size: 0.8rem;
  }
  .queueForm{
    width: 100%;
  }
  .belowTitle{
    font-size: 0.9rem;
  }
  .commDiv{
    font-size: 0.8rem;
    flex-direction: column;
  }
}
